<!-- Intro -->
<section id="intro">
    <div class="container mt-5">
        <div class="row">
            <div class="col-8 align-self-center">
                <div class="intro-info">
                    <h2>Heal Your Mind and Soul <br>with Our Therapy Services!</h2>
                    <div>
                        <a routerLink="/posts" class="nav-item btn-get-started scrollto">Share a post</a>
                        <a href="#chatbot" class="nav-item btn-services scrollto">Meet N7Therapist</a>
                    </div>
                </div>
            </div>
            <div class="col-4 align-self-center">
                <div class="intro-img">
                    <img src="../assets/img/Home.png" alt="image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Chatbot -->
<app-chatbot>
    
</app-chatbot>

<!-- Services -->
<section id="services" class="services">
    <div class="container">
        <div class="text-center">
            <h5 class="d-inline-block justify-content-lg-center section-title">Services</h5>
            <h2 style="color: #22BBFF;margin:20px auto;">
                We Offer Awesome <span style="color: #41DCBD;">Services.</span>
            </h2>
            <p>Create your account and make your life Easier !</p>
        </div>
        <div class="row my-5 ">
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <div class="text-center">
                            <i class="bi bi-robot mb-2"></i>
                        </div>
                        <h4 class="title">Virtual Therapist</h4>
                        <p class="description">So much more than a simple FAQs chatbot, N7Therapist will be your Therapist, 
                            and your friend be free to talk to her anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <div class="text-center">
                            <i class="bi bi-pencil-square mb-2"></i>
                        </div>
                        <h4 class="title">Free your Mind</h4>
                        <p class="description">Express your feelings, talk about your experiences, and free your mind by
                        writing all your thoughts. Create a post and share it anonymously.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <div class="text-center">
                            <i class="bi bi-newspaper mb-2"></i>
                        </div>
                        <h4 class="title">Menthal health News</h4>
                        <p class="description">Discover all the latest news and researches about the Menthal Health Care.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon">
                        <div class="text-center">
                            <i class="bi bi-person-badge-fill mb-2"></i>
                        </div>
                        <h4 class="title">Make online appointment</h4>
                        <p class="description">Do you feel like you need help with your Mental Life?
                            <br>No worries! With a simple click, you can make an online appointment with some of the best Moroccan doctors and therapists.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Posts -->
<section id="posts" class="posts">
    <div class="container">
        <div class="text-center">
            <h5 class="d-inline-block justify-content-lg-center section-title">Posts</h5>
            <h2 style="color: #22BBFF;margin:20px auto;">
                Read what people had <span style="color: #41DCBD;">Experienced.</span>
            </h2>
            <p>You can also share your own feelings and experiences Anonymously!</p>
        </div>

        <div class="post-examples mt-5">
            <div class="row justify-content-between">
                <!--  ////////////////////////////////////////////////////////  -->
                <div class="post-item col-6 m-2 py-5 px-5">
                    <div class="cell-right mb-3">
                        <img src="../assets/img/user-secret-5.svg" alt="Rose" width="50">
                    </div>
                    <div class="post-content">
                        <i class="bi bi-chat-left-quote-fill quotes me-2"></i>
                        This is a short bio about rose. This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                    </div>
                    <div class="post-date mt-3">
                        May 20th, 2022
                    </div>
                </div>
                <!--  ////////////////////////////////////////////////////////  -->
                <div class="post-item col-5 m-2 py-5 px-5">
                    <div class="cell-right mb-3">
                        <img src="../assets/img/user-secret-5.svg" alt="Rose" width="50">
                    </div>
                    <div class="post-content">
                        <i class="bi bi-chat-left-quote-fill quotes me-2"></i>
                        This is a short bio about rose. This is a short bio about rose. This is a short bio about rose.
                    </div>
                    <div class="post-date mt-3">
                        May 20th, 2022
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- NEWS -->

<section class="position-relative">
    <div class="news-home3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h5 class="d-inline-block justify-content-lg-center section-title">News</h5>
                    <h2 style="color: #22BBFF;margin:20px auto;">
                        Discover all the latest news and researches about the<br><span style="color: #41DCBD;font-weight: bold;margin: 2em;">Mental Health Care</span>
                    </h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="card border-0 mb-4">
                        <a href="https://medium.com/wholistique/how-being-lonely-affects-our-brains-c01f1e6a72b" target="_blank">
                            <img class="card-img-top" src="https://miro.medium.com/max/1400/0*XL-dPSQfCxuU-sTF" alt="Image">
                        </a>
                        <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Jerren Gan </span> | Dec 7, 2020</div>
                        <h5 class="fw-bold mt-3">
                            <a href="https://medium.com/wholistique/how-being-lonely-affects-our-brains-c01f1e6a72b" target="_blank" class="link text-decoration-none">How Being Lonely Affects Our Brains</a>
                        </h5>
                        <p class="text-secondary mt-3">
                            Loneliness isn’t always the same as being alone.
                            Being alone is a choice. One might be looking to have some personal time for oneself after mingling with others.
                            Another individual might find that being alone...
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-mental-health-stigma-that-still-lurks-in-medicine-4f281e97b29f" target="_blank">
                                    <img class="card-img-top" src="https://miro.medium.com/max/1400/1*b_I4LDS0bICAcnC1bdOM2g.jpeg" alt="Image">
                                </a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Dr. Marina Harris </span> | May 27, 2021</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-mental-health-stigma-that-still-lurks-in-medicine-4f281e97b29f" target="_blank" class="link text-decoration-none">The Mental Health Stigma That Still Lurks in Medicine</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/beingwell/how-exercise-fights-anxiety-and-depression-cd6765115246" target="_blank">
                                    <img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/0*4yB_sDeQ2IxtqUnm"
                                    alt="Image">
                                </a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Hammad A. Khalid </span> | May 27, 2022</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/beingwell/how-exercise-fights-anxiety-and-depression-cd6765115246" target="_blank" class="link text-decoration-none">How Exercise Fights Anxiety and Depression</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-power-of-music-on-mood-and-mental-health-e0ce0d07ea45" target="_blank"><img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/0*Ul9hO7v9HL5mUpTC"
                                    alt="Image"></a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Scarlett Jess Perrodin </span> | May 24, 2022</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-power-of-music-on-mood-and-mental-health-e0ce0d07ea45" target="_blank" class="link text-decoration-none">The Power of Music On Mood And Mental Health</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-high-price-of-loneliness-and-a-low-cost-solution-3d5cceb98849" target="_blank"><img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/1*VVIsmTIMH5-pKKDlveawzg.jpeg"
                                    alt="Image"></a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Jill </span>| May 24, 2021</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-high-price-of-loneliness-and-a-low-cost-solution-3d5cceb98849" target="_blank" class="link text-decoration-none">The High Price of Loneliness and a Low-Cost Solution</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- CONTACT -->
<section id="contact" class="contact col-12">
    <div class="text-center mb-5">
        <h5 class="d-inline-block justify-content-lg-center section-title">Contact Us</h5>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form">
                <div class="contact-info">
                    <h3 class="title">Let's get in touch</h3>
                    <p class="text">
                        Tell us if you have any questions / suggestions you would like to see!
                    </p>

                    <div class="info mt-2">
                        <div class="information">
                            <i class="bi bi-geo-alt-fill iconn"></i>
                            <p class="mt-1">ENSET Mohammedia</p>
                        </div>
                        <div class="information">
                            <i class="bi bi-envelope-fill iconn"></i>
                            <p class="mt-1">n7.therapist@gmail.com</p>
                        </div>
                        <div class="information">
                            <i class="bi bi-telephone-fill iconn"></i>
                            <p class="mt-1">+212 707-257424</p>
                        </div>
                    </div>

                    <div class="social-media">
                        <p>Connect with us :</p>
                        <div class="social-iconns">
                            <a href="#">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="contact-form">
                    <span class="circle one"></span>
                    <span class="circle two"></span>

                    <form autocomplete="off">
                        <h3 class="title">Contact us</h3>
                        <div class="input-container">
                            <input type="text" name="username" class="input" />
                            <label for="username">Username</label>
                        </div>
                        <div class="input-container">
                            <input type="email" name="email" class="input" />
                            <label for="">Email</label>
                        </div>
                        <div class="input-container">
                            <input type="tel" name="phone" class="input" />
                            <label for="">Phone</label>
                        </div>
                        <div class="input-container textarea">
                            <textarea name="message" class="input"></textarea>
                            <label for="">Message</label>
                        </div>
                        <button type="submit" class="btn btn-outline-light px-5 fw-bold rounded-pill border-2"><i class="bi bi-send-fill me-2"></i>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<div class="position-relative">
    <div class="position-absolute bottom-0 footer p-3 text-center text-white w-100">
        <span class="fw-bold">©</span> 2022 Copyright |  N7-Therapy
    </div>
</div>