<div class="container mt-5">
    <div class="text-center">
        <h5 class="d-inline-block justify-content-lg-center section-title">About Us</h5>
        <h2 style="color: #22BBFF;margin:20px auto;line-height: 1.7em;">
            We are second year computer science students at<br>
            <span style="color: #41DCBD; font-weight: bold;">ENSET Mohammedia.</span>
        </h2>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card py-3">
                <div class="member-img my-4">
                    <img src="../../assets/img/team/hachmi.jpg" alt="Team member image" class="rounded-circle p-1 border border-3 border-dark w-50">
                </div>
                <div class="container">
                    <h4><span class="fw-bold">HACHMI </span> Mohamed Amine</h4>
                    <p class="">Elève Ingénieur GLSID</p>
                    <a class="fs-2" href="https://linkedin.com/in/aminehcm" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card py-3">
                <div class="member-img my-4">
                    <img src="../../assets/img/team/bricha.jpg" alt="Team member image" width="200" class="rounded-circle p-1 border border-3 border-dark w-50">
                </div>
                <div class="container">
                    <h4><span class="fw-bold">BRICHA </span> Anass</h4>
                    <p class="">Elève Ingénieur GLSID</p>
                    <a class="fs-2" href="https://www.linkedin.com/in/anasse-bricha-2328161b5/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card py-3">
                <div class="member-img my-4">
                    <img src="../../assets/img/team/habbazi.jpg" alt="Team member image" width="200" class="rounded-circle p-1 border border-3 border-dark w-50">
                </div>
                <div class="container">
                    <h4><span class="fw-bold">EL HABBAZI </span> Soufiyane</h4>
                    <p class="">Elève Ingénieur II-BDCC</p>
                    <a class="fs-2" href="https://www.linkedin.com/in/soufiyan-el-habbazi-878a41178/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card py-3">
                <div class="member-img my-4">
                    <img src="../../assets/img/team/barazzouk.jpg" alt="Team member image" width="200" class="rounded-circle p-1 border border-3 border-dark w-50">
                </div>
                <div class="container">
                    <h4><span class="fw-bold">BARAZZOUK </span> Bader</h4>
                    <p class="">Elève Ingénieur GLSID</p>
                    <a class="fs-2" href="https://www.linkedin.com/in/bader-barazzouk-9678631b5/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 mt-4">
            <div class="card py-3">
                <div class="member-img my-4">
                    <img src="../../assets/img/team/bouizou.jpg" alt="Team member image" width="200" class="rounded-circle p-1 border border-3 border-dark w-50">
                </div>
                <div class="container">
                    <h4><span class="fw-bold">BOUIZOU </span> ISSAM</h4>
                    <p class="">Elève Ingénieur II-BDCC</p>
                    <a class="fs-2" href="https://www.linkedin.com/in/issam-bouizou-a89b61211/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- FOOTER -->
<app-footer>
    
</app-footer>