<!-- NEWS -->

<section class="position-relative mt-5">
    <div class="news-home3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h5 class="d-inline-block justify-content-lg-center section-title">News</h5>
                    <h2 style="color: #22BBFF;margin:20px auto;line-height: 1.7em;">
                        Discover all the latest news and researches about the<br><span style="color: #41DCBD;font-weight: bold;">Mental Health Care</span>
                    </h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <div class="card border-0 mb-4">
                        <a href="https://medium.com/wholistique/how-being-lonely-affects-our-brains-c01f1e6a72b" target="_blank">
                            <img class="card-img-top" src="https://miro.medium.com/max/1400/0*XL-dPSQfCxuU-sTF" alt="Image">
                        </a>
                        <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Jerren Gan </span> | Dec 7, 2020</div>
                        <h5 class="fw-bold mt-3">
                            <a href="https://medium.com/wholistique/how-being-lonely-affects-our-brains-c01f1e6a72b" target="_blank" class="link text-decoration-none">How Being Lonely Affects Our Brains</a>
                        </h5>
                        <p class="text-secondary mt-3">
                            Loneliness isn’t always the same as being alone.
                            Being alone is a choice. One might be looking to have some personal time for oneself after mingling with others.
                            Another individual might find that being alone...
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-mental-health-stigma-that-still-lurks-in-medicine-4f281e97b29f" target="_blank">
                                    <img class="card-img-top" src="https://miro.medium.com/max/1400/1*b_I4LDS0bICAcnC1bdOM2g.jpeg" alt="Image">
                                </a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Dr. Marina Harris </span> | May 27, 2021</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-mental-health-stigma-that-still-lurks-in-medicine-4f281e97b29f" target="_blank" class="link text-decoration-none">The Mental Health Stigma That Still Lurks in Medicine</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/beingwell/how-exercise-fights-anxiety-and-depression-cd6765115246" target="_blank">
                                    <img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/0*4yB_sDeQ2IxtqUnm"
                                    alt="Image">
                                </a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Hammad A. Khalid </span> | May 27, 2022</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/beingwell/how-exercise-fights-anxiety-and-depression-cd6765115246" target="_blank" class="link text-decoration-none">How Exercise Fights Anxiety and Depression</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-power-of-music-on-mood-and-mental-health-e0ce0d07ea45" target="_blank"><img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/0*Ul9hO7v9HL5mUpTC"
                                    alt="Image"></a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Scarlett Jess Perrodin </span> | May 24, 2022</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-power-of-music-on-mood-and-mental-health-e0ce0d07ea45" target="_blank" class="link text-decoration-none">The Power of Music On Mood And Mental Health</a>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 mb-4">
                                <a href="https://medium.com/invisible-illness/the-high-price-of-loneliness-and-a-low-cost-solution-3d5cceb98849" target="_blank"><img class="card-img-top"
                                    src="https://miro.medium.com/max/1400/1*VVIsmTIMH5-pKKDlveawzg.jpeg"
                                    alt="Image"></a>
                                <div class="date-pos text-center text-white p-3 bg-success-gradiant"><span class="fw-bold">Jill </span>| May 24, 2021</div>
                                <h6 class="fw-bold mt-3">
                                    <a href="https://medium.com/invisible-illness/the-high-price-of-loneliness-and-a-low-cost-solution-3d5cceb98849" target="_blank" class="link text-decoration-none">The High Price of Loneliness and a Low-Cost Solution</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<app-footer>
    
</app-footer>