<div class="container px-1 px-md-5 px-lg-1 px-xl-5 my-5 mx-auto">
    <div class="card">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="pb-1">
                    <div class="row px-3 justify-content-center pt-5 mt-5">
                        <img src="../../../assets/img/LOGIN.png" class="w-75">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row py-5">
                    <div class="mb-4 px-3">
                        <span class="mb-0 me-4 mt-2">Sign in with : </span>
                        <a class="me-3 fs-4" style="color:#41DCBD;cursor:pointer;"><i class="bi bi-facebook"></i></a>
                        <a class="me-3 fs-4" style="color:#41DCBD;cursor:pointer;"><i class="bi bi-twitter"></i></a>
                        <a class="me-3 fs-4" style="color:#41DCBD;cursor:pointer;"><i class="bi bi-linkedin"></i></a>
                    </div>
                    <div class="row mb-4 justify-content-center align-items-center">
                        <div class="col-5" style="height:2px;background-color: #f1f1f1;"></div>
                        <div class="col-2 text-center"><small>Or</small></div>
                        <div class="col-5" style="height:2px;background-color: #f1f1f1;"></div>
                    </div>
                    <form method="post" [formGroup]="loginForm" (ngSubmit)="handleLoginSubmit()">
                        <div class="row px-3 mb-4">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Username</h6></label>
                            <input class="form-control" type="text" formControlName="username" placeholder="Enter a valid username">
                        </div>
                        <div class="row px-3 mb-4">
                            <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                            <input type="password" formControlName="password" placeholder="Enter password" class="form-control">
                        </div>

                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn" style="background-color: #41DCBD;">Login</button>
                        </div>
                    </form>
                    <div class="row mb-4 px-3">
                        <small class="font-weight-bold">Don't have an account? <a class="text-success mt-4 text-decoration-none" routerLink="/register">Register</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>