<div class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <a><img src="../../assets/img/logo.png" class="img-fluid" width="350"></a>
            </div>
            <div class="col-8 text-secondary">
                <p class="lh-lg"><b>N7Therapy</b> is a mental health platform that helps you find great ways to understand your mind by interacting with
                    <a class="text-info" routerLink="/chatbot"><i class="bi bi-robot pe-2"></i>N7Therapist</a>
                    The AI chatbot, writing about your experiences and feelings anonymously, taking notes, and reading latest news about mental health.</p>
            </div>
            <div class="col-4">
                <ul class="nav justify-content-center fs-3">
                    <li class="nav-item mx-3"><a style="color:#41DCBD;cursor:pointer"><i class="bi bi-facebook"></i></a></li>
                    <li class="nav-item mx-3"><a style="color:#41DCBD;cursor:pointer"><i class="bi bi-twitter"></i></a></li>
                    <li class="nav-item mx-3"><a style="color:#41DCBD;cursor:pointer"><i class="bi bi-instagram"></i></a></li>
                    <li class="nav-item mx-3"><a style="color:#41DCBD;cursor:pointer"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>